*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#svg2{
    width: 40px;
    margin-top: 15px;
    margin-left: 20px;
    
    
}

#svg2:hover{
    cursor: pointer;
}
#divv{
   position: fixed;
    left: -350px;
    transition: 0.5s;
}


#card{
    display: flex;
    position: absolute;
    flex-direction: column;
    row-gap: 10px;
    width: 350px;
    background-color: green;
    height: 100vh;
    padding: 15px;
    font-size: 25px;
    padding-left: 20px;
   /* left: -200px; */
    
}

a{
    text-decoration: none;
    color:white;
    margin-left: 20px;
}

#div1{
    display: flex;
    justify-content: end;
}

#svg1{
    width: 40px;
    margin: 10px;

}

#svg1:hover{
    cursor: pointer;
}